<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta charset="utf-8"/>
    <title>Auswertung</title>
</head>


<body>
<!-- Header mit der Navigation -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">DBM-Studiumsrechner</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="ects.html" class="nav-link">ECTS</a></li>
        <li class="nav-item"><a href="auswertung.html" class="nav-link">Auswertung</a></li>
      </ul>
    </header>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Übersicht Studium:</h1>



    <br><br>
    <h1 class="display-5 fw-bold">Fortschritt in den Wahlpflichtmodulen:</h1>

    {{ viz_div|safe }}

</div>

</body>
</html>