<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta charset="utf-8"/>
    <title>ECTS</title>
</head>


<body>
<!-- Header mit der Navigation -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">DBM-Studiumsrechner</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="ects.html" class="nav-link">ECTS</a></li>
        <li class="nav-item"><a href="auswertung.html" class="nav-link">Auswertung</a></li>
      </ul>
    </header>
</div>


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Du hast {{ 180 - ECTS }} von 180 ECTS erreicht!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><br>

<br>

So viele ECTS Punkte musst du insgesamt noch machen:
{{ECTS}}

<br><br>

So viele ECTS benötigst du mindestens noch in den Wahlpflichtmodulen:
<br> User Experience: {{ ECTS_UX_Gesamt }}
<br> Information Technology: {{ ECTS_IT_Gesamt }}
<br> Digital Innovation: {{ ECTS_DI_Gesamt }}
<br> Sozial- und Methodenkompetenz: {{ ECTS_SM }}

<br><br>

Für einen Major benötigst du noch so viele ECTS:
<br> User Experience: {{ ECTS_UX_Major }}
<br> Information Technology: {{ ECTS_IT_Major }}
<br> Digital Innovation: {{ ECTS_DI_Major }}

<br><br>
Folgende Module könntest du noch gut gebrauchen:

      </p>

    </div>

<br><br><br><br>


<br><br>

<form action="{{ url_for('hello_auswertung') }}">
<div class="container">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Zur Übersicht</button>
        </div>
</div>
</form>
<br><br>
<form action="{{ url_for('hello_home') }}">
<div class="container">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-secondary">Weitere Module hinzufügen</button>
        </div>
</div>
</form>

</div>

</body>
</html>