<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Willkommen</title>
</head>


<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">DBM-Studiumsrechner</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="ects.html" class="nav-link">ECTS</a></li>
        <li class="nav-item"><a href="noten.html" class="nav-link">Noten</a></li>
        <li class="nav-item"><a href="auswertung.html" class="nav-link">Auswertung</a></li>
      </ul>
    </header>
</div>
<br>
<h1 class="lead mb-4 text-center">Wähle deine besuchten Module aus. <br><br></h1>


<!-- >Formular wird geöffnet, durch action wird beim submit auf die ECTS-Seite verlinkt -->
<form method="POST" action="{{ url_for('hello_ects') }}">

<!--  Container mit allen Modulen wird geöffnet -->
<div class="d-flex gap-5 justify-content-center">

  <!-- linke Spalte mit den Pflichmodulen wird geöffnet -->
  <div class="list-group mx-0">
    <h4>Pflichtmodule</h4>

    <!-- alt: im label element wird jeweils eine Checkbox platziert
    # Pro Modul wird ein label erstellt
    # mit dem "name" wird später das ausgewählte modul in python angesprochen -->

    <!-- die Module werden mit einer for schlaufe aus dem json file module geladen -->


      {% for modul in module  %}

      <label class="list-group-item d-flex gap-2">
        <input name="{{  }}" class="form-check-input flex-shrink-0" type="checkbox">
        <span> Englisch B2 </span>
      </label>

      {% endfor %}


    <label class="list-group-item d-flex gap-2">
      <input name="englischb2" class="form-check-input flex-shrink-0" type="checkbox"  >
      <span> Englisch B2 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="softskills1" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Soft Skills 1 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="wiar" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Wissenschaftliches Arbeiten </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="math" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Mathematik </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="bwl" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Betriebswirtschaft </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="designthinking" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Design Thinking </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="ebus" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> E-Business Management </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="recht" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Recht </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="statistik" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Statistik </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="prog1" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Programmierung 1 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="prog2" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Programmierung 2 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="aris" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Architektur von Informationssystemen </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="markom" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Kommunikation & Marketing </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="prototyping" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Konzeption & Prototyping </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="sgdu" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Strategien und Geschäftsmodelle im Digitalen Umfeld </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="softskills2" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Soft Skills 2  </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="reque" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Requirements Engineering </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="dima" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Digital Marketing </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="pro1" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Projektmanagement 1 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="pro2" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Projektmanagement 2 </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="dbms" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Datenbankmanagementsysteme </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="hci" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Human Computer Interaction </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="masofo" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Markt- und Sozialforschung </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="ecommerce" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> E-Commerce </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="bpe" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Business Process Engineering </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="unternehmensprojekt" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Unternehmensprojekt </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input name="thesis" class="form-check-input flex-shrink-0" type="checkbox" >
      <span> Bachelor Thesis </span>
    </label>
  </div>

     <!-- rechte Spalte mit den Wahlpflichtmodulen wird geöffnet -->
    <div class="list-group mx-0">
    <h4>Wahlpflichtmodule</h4>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Content Marketing & Story Telling <small class="d-block text-muted">User Experience</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Design Introduction <small class="d-block text-muted">User Experience</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Experience Reality <small class="d-block text-muted">User Experience</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Markenführung & ICH-Marke <small class="d-block text-muted">User Experience</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> User Research and Workshop Moderation <small class="d-block text-muted">User Experience</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Big Data Vertiefung <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Business Intelligence und Big Data <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> IT-Sicherheit und Standards im Digital Business <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Konzeption und Umsetzung einer Webapplikation <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Makerspace: IoT Use Case <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Webprogrammierung <small class="d-block text-muted">Information Technology</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Aktuelle Trends und Themen <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Datenschutzrecht in der Schweiz und Europa <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Digital Disruption Potential <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Information and Data Management <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Information Consulting <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Sales im Digital Business <small class="d-block text-muted">Digital Innovation</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Business-Englisch C1 <small class="d-block text-muted">Sozial- und Methodenkompetenz</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Entrepreneurial Accounting <small class="d-block text-muted">Sozial- und Methodenkompetenz</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> Scientific Writing <small class="d-block text-muted">Sozial- und Methodenkompetenz</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> VWL-Mikroökonomie <small class="d-block text-muted">Sozial- und Methodenkompetenz</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> HCE – Human Centric Entrepreneurship 1 <small class="d-block text-muted">Praxis und Transfer</small> </span>
    </label>
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" >
      <span> HCE – Human Centric Entrepreneurship 2 <small class="d-block text-muted">Praxis und Transfer</small> </span>
    </label>




    </div>
</div>



<br><br>
<div class="container">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Weiter</button>
        </div>
<br><br>

    </form>

</body>
</html>