<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Willkommen</title>
</head>


<body>
<!-- Header mit der Navigation -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">DBM-Studiumsrechner</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="ects.html" class="nav-link">ECTS</a></li>
        <li class="nav-item"><a href="auswertung.html" class="nav-link">Auswertung</a></li>
      </ul>
    </header>
</div>
<br>
<h1 class="lead mb-4 text-center">Wähle deine besuchten Module aus. <br><br></h1>


<!-- >Formular wird geöffnet, durch action wird beim Weiter-Button auf die ECTS-Seite verlinkt -->
<form method="POST" action="{{ url_for('hello_ects') }}">

<!--  Container mit allen Modulen wird geöffnet -->
<div class="d-flex gap-5 justify-content-center">

  <!-- linke Spalte mit den Pflichmodulen wird geöffnet -->
  <div class="list-group mx-0">
    <h4>Pflichtmodule</h4>

       <!-- die Module werden mit einer for schlaufe aus der Liste module_pflicht geladen -->
      {% for modul in module_pflicht  %}
      <label class="list-group-item d-flex gap-2">
      <input name="{{ modul }}" class="form-check-input flex-shrink-0" type="checkbox"  >
      <span> {{ modul }} </span>
      </label>
      {% endfor %}


      <h5 style="margin-top: 15px;">Bereits gespeicherte Pflichtmodule:</h5>


  </div>

     <!-- rechte Spalte mit den Wahlpflichtmodulen wird geöffnet -->
    <div class="list-group mx-0">

    <h4>Wahlpflichtmodule</h4>

      <!-- die Wahlpflichtmodule werden mit einer for schlaufe aus der Liste module_wp geladen
     zusätzlich wird hier die Modulgruppe angegeben, da die für die Berechnung und Übersichtlichkeit relevant ist-->

      {% for modul in module_wp  %}
      <label class="list-group-item d-flex gap-2">
      <input name="{{ modul }}" class="form-check-input flex-shrink-0" type="checkbox"  >
      <span> {{ modul }} </span>
      <!-- alt: <span> {{ modul[0] }} <small class="d-block text-muted">{{ modul[1] }}</small></span> -->
      </label>
      {% endfor %}


    </div>
</div>



<br><br>
     <!-- Mit dem Weiter-Button kommt man auf die Seite ects.html und die ausgewählten Module werden ins json übertragen -->
<div class="container">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Weiter</button>
</div>


<br><br>
</div>
</form>

<form method="POST">
    <!-- Mit dem Zurücksetzen-Button setzt man alle Werte in den json Files auf den Default Wert zurück -->
    <div class="container">
        <div class="col-md-12 text-center">
            <button name="zuruecksetzen" value="zuruecksetzen" type="submit" class="btn btn-secondary">Zurücksetzen</button>
        </div>
    </div>
</form>
<br><br><br>

</body>
</html>